$font-size: 12px;
$font-family: 'Raleway', cursive;

*{
	//outline:1px solid red;
	font-family:$font-family;
}

h2{
	margin-bottom:0px;
	margin-top:0px;
}
@import 'parciales/_header';
//@import 'parciales/_video';
@import 'parciales/_pasion';
@import 'parciales/_types';
@import 'parciales/_questions1';
@import 'parciales/_questions2';
@import 'parciales/_respuestas';
@import 'parciales/_campos';
@import 'parciales/_carrousel';
@import 'parciales/_amamos';
@import 'parciales/_footer';

@media (max-width:768px)
{
	.lovers{
	width:200%;
	}
	.scroll{
	padding-top:180px;
	}
	.paquete{
	width: 50%;
	margin-top:-50px;
	}
	.color1{
	background-color:#f0e7ae;
	}
	.color2{
	background-color:#8ec641;
	}
	.color3{
	background-color:#ed9a9d;
	}

}