.hero-section{
	background:url(../img/parallax-1.jpg)no-repeat center center;
	background-size: cover;
	height:480px;
	.principal{
	margin-top: 100px;
	}
	.scroll{
	margin-top:100px;
		.scroll-blanco{
		color:white;
		}	
	}
}

