.pasion-section{
	background:url(../img/parallax-3.jpg)no-repeat center center;
	background-size: cover;
	height:480px;
	margin-top:-7px;
	
	.blanquito{
	color:white;
	margin-top: 80px;
	width:300px;
	}
}