.questions1-section{
	#img1{
		background:url(../img/min-video-1-2.jpg)no-repeat center center;
		background-size: cover;
		height:400px;
		color:white;
	}
	#img2{
		background:url(../img/min-video-3.jpg)no-repeat center center;
		background-size: cover;
		height:200px;
		color:white;
	}
	#img3{
		background:url(../img/min-video-5.jpg)no-repeat center center;
		background-size: cover;
		height:200px;
		color:white;
	}
	#img4{
		background:url(../img/min-video-6.jpg)no-repeat center center;
		background-size: cover;
		height:200px;
		color:white;
	}
}