.questions1-section{
	.img1{
		background:url(../img/min-video-1-2.jpg)no-repeat center center;
		background-size: cover;
		height:400px;
	}
	.img2{
		background:url(../img/min-video-3.jpg)no-repeat center center;
		background-size: cover;
		height:100px;
	}
	.img3{
		background:url(../img/min-video-5.jpg)no-repeat center center;
		background-size: cover;
		height:100px;
	}
	.img4{
		background:url(../img/min-video-6.jpg)no-repeat center center;
		background-size: cover;
		height:200px;
	}
}